<table id="preguntas">
  <thead>
    <tr>
      <th>
        <span>Preguntas</span>
      </th>
      <th>
        <span>Temas</span>
      </th>
      <th>
        <span></span>
      </th>
      <th>
        <span></span>
      </th>
    </tr>
  </thead>
  <% var i; for (i=0; i < quizes.length; i++) { %>
    <tbody>
      <tr>
        <td class="izquierda">
          <a href="quizes/<%= quizes[i].id %>">
            <%= quizes[i].pregunta %>
          </a>
        </td>
        <% if(session.user) {%>
          <td class="izquierda">
            <%= quizes[i].tema %>
          </td>
          <td class="izquierda">
            <a href="quizes/<%= quizes[i].id %>/edit">
              <button>Editar</button>
            </a>
          </td>
          <td class="izquierda">
            <form action="quizes/<%= quizes[i].id %>?_method=delete" method="post">
              <button onclick="return confirm('Borrar: <%= quizes[i].pregunta %>');" type="submit">
                borrar
              </button>
            </form>
          </td>
        <% } %>
      </tr>
    <% } %>
    <tr>
      <td class="izquierda">
        <form action="/quizes" id="searchQuestion" method="GET">
          <input name="search" placeholder="Buscar pregunta" type="text"/>
          <input type="submit" value="Enviar"/>
        </form>
      </td>
      <% if(session.user) {%>
        <td class="izquierda">
          <a href="/quizes/new">
            <button type="button">Crear pregunta</button>
          </a>
        </td>
      <% } %>
    </tr>
  </tbody>
</table>
