<form action="/quizes" id="searchQuestion" method="GET">
  <input name="search" placeholder="Buscar pregunta" type="text"/>
  <input type="submit" value="Enviar"/>
</form>

<table>
  <% var i; for (i=0; i < quizes.length; i++) { %>
    <tr>
      <td>
        <a href="quizes/<%= quizes[i].id %>">
          <%= quizes[i].pregunta %>
        </a>
      </td>
      <td>
        <%= quizes[i].tema %>
      </td>
      <td>
        <a href="quizes/<%= quizes[i].id %>/edit">
          <button>Editar</button>
        </a>
      </td>
      <td>
        <form action="quizes/<%= quizes[i.id] %>?_method=delete" method="post">
          <button onclick="return confirm('Borrar: <%= quizes[i].pregunta %>');" type="submit">
            borrar
          </button>
        </form>
      </td>
    </tr>
  <% } %>
</table>
<p>
  <a href="/quizes/new">
    <button type="button">Crear pregunta</button>
  </a>
