</p>
<br>
<table id="estadisticas">
<thead>
  <caption>
    <strong>Estadísticas de Quiz</strong>
  </caption>
  <tr>
    <th>
      <span>Total
        <br/>Preguntas </span>
    </th>
    <th>
      <span>Total
        <br/>Comentarios </span>
    </th>
    <th>
      <span>Total Preguntas
        <br/>sin Comentarios </span>
    </th>
    <th>
      <span>Total Preguntas
        <br/>con Comentarios </span>
    </th>
    <th>
      <span>% Comentarios 
        <br/>por pregunta </span>
    </th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="izquierda">
      <%= statistics.preguntas %>
    </td>
  <td class="izquierda">
    <%= statistics.comentarios %>
  </td>
  <td class="izquierda">
    <%= statistics.preguntasSinComentarios %>
  </td>
  <td class="izquierda">
    <%= statistics.preguntasConComentarios %>
  </td>
  <td class="izquierda">
    <%= statistics.mediaComentariosPregunta %>
  </td>
</tr>
</tbody>
</table>
