    </p> <br>
    <table id="estadisticas">
      <thead>
        <caption>
          Estadísticas de Quiz
        </caption>
        <tr>
          <th>
            <span>Total Preguntas</span>
          </th>
          <th>
            <span>Total Comentarios</span>
          </th>
          <th>
            <span>Total Preguntas sin Comentarios</span>
          </th>
          <th>
            <span>Total Preguntas con Comentarios</span>
          </th>
          <th>
            <span>Comentarios sin publicar</span>
          </th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <td class="izquierda">
                <%= statistics.quizes %>
              </a>
            </td>
              <td class="izquierda">
                <%= statistics.comments %>
              </td>
              <td class="izquierda">
                <%= statistics.quizes - statistics.commentedQuizes %>
              </td>
              <td class="izquierda">
                <%= statistics.commentedQuizes %>
              </td>
              <td class="izquierda">
                <%= statistics.commentsUnpublished %>
              </td>
          </tr>
      </tbody>
    </table>
